# Sanity Configuration
# Get these from https://sanity.io/manage
SANITY_PROJECT_ID=your-project-id
SANITY_DATASET=production

# Site Configuration
PUBLIC_SITE_URL=https://benevolent-tulumba-e97633.netlify.app/, https://localhost:3000